<div class="form-group">
    <h2 class="mt-4">Contesta Verbali</h2>
    <label for="ContestareVerbali">Tipo Violazione:</label>
    <select class="form-control" id="ContestareVerbali" name="ContestareVerbali">
        <option value="Tipo1">1. Eccesso di velocità</option>
        <option value="Tipo2">2. Guida in stato d'ebrezza</option>
        <option value="Tipo3">3. Violazione del semaforo rosso</option>
        <option value="Tipo4">4. Manutenzione insufficente del veicolo</option>

    </select>

    <h3 class="mt-4" style="font-weight: 400;">Inserisci ID Violazione</h3>
    <div class="form-group">
        <label for="IdViolazione">ID Violazione</label>
        <input type="int" class="form-control" id="idViolazione" name="IdViolazione" />
    </div>



    <button type="submit" class="btn btn-primary mt-3">Contesta</button>
</div>