<div class="text-center">
    <p class="display-6">Scegli la funzionalità desiderata</p>
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-warning" asp-controller="Info" asp-action="TotVerbali">Totale Verbali</a>
        <a class="btn btn-warning" asp-controller="Info" asp-action="TotPunti">Totale punti decurtati</a>
        <a class="btn btn-warning" asp-controller="Info " asp-action="MaggioreDiQuattrocento">Multe maggiori di 400
            euro</a>
        <a class="btn btn-warning" asp-controller="Info" asp-action="MaggioreDieciPunti">Violazioni sopra i 10
            punti</a>
    </div>
</div>