<div class="text-center">
    <p class="display-6">Scegli la funzionalità desiderata</p>
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-warning" asp-controller="Funzionalita" asp-action="TotVerbali">Totale Verbali</a>
        <a class="btn btn-warning" asp-controller="Funzionalita" asp-action="TotPunti">Totale punti decurtati</a>
        <a class="btn btn-warning" asp-controller="Funzionalita" asp-action="Maggiore400Euro">Multe maggiori di 400
            euro</a>
        <a class="btn btn-warning" asp-controller="Funzionalita" asp-action="Maggiore10Punti">Violazioni sopra i 10
            punti</a>
    </div>
</div>