<div class="form-group">
    <label for="ContestareVerbali">Tipo Violazione:</label>
    <select class="form-control" id="ContestareVerbali" name="ContestareVerbali">
        <option value="Tipo1">1. Eccesso di velocità</option>
        <option value="Tipo2">2. Guida in stato d'ebrezza</option>
        <option value="Tipo3">3. Violazione del semaforo rosso</option>
        <option value="Tipo4">4. Manutenzione insufficente del veicolo</option>

    </select>

    <button type="submit" class="btn btn-primary mt-3">Contesta </button>
</div>