@model S5_ProgettoPolizia.Models.AnagraficaModel

<!DOCTYPE html>
<html>

<head>
    <title>Aggiungi Anagrafica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2 class="mt-4">Aggiungi Anagrafica</h2>
        <form asp-action="Anagrafica" method="post">
            <div class="form-group">
                <label for="surname">Cognome:</label>
                <input type="text" class="form-control" id="surname" name="surname" />
            </div>
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" />
            </div>
            <div class="form-group">
                <label for="address">Indirizzo:</label>
                <input type="text" class="form-control" id="address" name="address" />
            </div>
            <div class="form-group">
                <label for="city">Città:</label>
                <input type="text" class="form-control" id="city" name="city" />
            </div>
            <div class="form-group">
                <label for="CAP">CAP:</label>
                <input type="text" class="form-control" id="CAP" name="CAP" />
            </div>
            <div class="form-group">
                <label for="CodiceFiscale">Codice Fiscale:</label>
                <input type="text" class="form-control" id="CodiceFiscale" name="CodiceFiscale" />
            </div>
            <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
    </div>


</body>

</html>
