<h1>Totale punti decurtati:</h1>

<table class="table">
    <tr>
        <th scope="col">Cognome</th>
        <th scope="col">Nome</th>
        <th scope="col">Totale Verbali</th>
    </tr>
    @foreach (var trasgressore in Model)
    {
        <tr>
            <td>@trasgressore["Cognome"]</td>
            <td>@trasgressore["Nome"]</td>
            <td>@trasgressore["PuntiDecurtati"]</td>
        </tr>
    }

</table>
</table>